# Lambda Function Reduce

In [ ]:
# Reduce will always gives us single values

In [2]:
from functools import reduce

In [5]:
l1 = [32,55,65,34,65]

reduce(lambda x,y : x+y, l1)

251

In [4]:
32+55+65+34+65

251

# Lambda Function Accumulate

In [5]:
from itertools import accumulate

In [6]:
l1 = [32,55,65,34,65]

list(accumulate(l1, lambda x,y : x+y))

[32, 87, 152, 186, 251]

### Inclass Lambda Function

### Find the minimum of the two numbers(34 and 78) using the lambda function

In [7]:
x = 34
y = 78

s = lambda x,y : x if x<y else y

In [8]:
s(34,78)

34

### Find the maximum of the two numbers(34 and 78) using the lambda function

In [10]:
s = lambda x,y : x if x>y else y

In [11]:
s(78,34)

78

### Calculate the square of each element from the given tuple using the map function

Use the tuple given below:
number = (11, 21, 30, 34)

In [12]:
number = (11, 21, 30, 34)

list(map(lambda x : x**2, number))

[121, 441, 900, 1156]

### Read the given sentence and print the length of each word in a sentence in a list using the map function

** Use the sentence given below:**
sentence = 'Python for Data Science'

In [29]:
# First we need to split the sentences (After the separation the methods are same)
sentence = 'Python for Data Science'

s1 = sentence.split()
s1

['Python', 'for', 'Data', 'Science']

In [31]:
list(map(lambda x : len(x), s1))

[6, 3, 4, 7]

###  Find the remainder of all the numbers present in a list after dividing by 5

Use the list given below:
numbers = [ 74, 85, 14, 23 ]

In [32]:
# Basics from arithmetic
numbers = [ 74, 85, 14, 23 ]

list(map(lambda x : (x%5), numbers))

[4, 0, 4, 3]

In [33]:
74%5

4

# July 3rd 23 Continued

### Concatenate elements from the list1 with the corresponding element of list2

** Use the list given below:**
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']
list2 = [11,22,33,44,55,66,77,88,99]

In [9]:
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']
list2 = [11,22,33,44,55,66,77,88,99]

list(map(lambda x, y : x+str(y), list1, list2))

['I11',
 'felt22',
 'happy33',
 'because44',
 'I55',
 'saw66',
 'the77',
 'others88',
 'were99']

# Filter Function

### Find the common elements from the given array using filter method

Use the array given below:
arr1 = ['t','u','t','o','r','i','a','l']
arr2 = ['p','o','i','n','t']

In [11]:
arr1 = ['t','u','t','o','r','i','a','l']
arr2 = ['p','o','i','n','t']

arr = arr1+arr2
arr

['t', 'u', 't', 'o', 'r', 'i', 'a', 'l', 'p', 'o', 'i', 'n', 't']

In [13]:
def ContainsCommon(x):
    for i in x:
        if i in 't o i':
            return True
        else:
            return False

In [15]:
ContainsCommon('u')

False

In [16]:
ContainsCommon('i')

True

In [19]:
list(filter(ContainsCommon, arr))

['t', 't', 'o', 'i', 'o', 'i', 't']

### Remove odd numbers from the given list

Use the list given below:
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]

In [20]:
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]

list(filter(lambda x : x%2==0, numbers))

[110, 352, 278]

# Reduce Function

### Calculate the sum of the numbers from 1 to 200

In [21]:
from functools import reduce

In [29]:
s = [100,201]   # Doubt
reduce(add, s)

301

In [26]:
def add(x,y):
    return x+y

In [28]:
add(1,201)

202

### Determine the maximum of a given list using reduce function

Use the list given below:
my_list = [47,11,42,102,13]

In [31]:
my_list = [47,11,42,102,13]

reduce(max, my_list)

102